.container{
    /* text-align: center;
    background-color: cornsilk; */
    display: grid;
    grid-template-areas:
                             "header header header"
                             "sidebar content content"
                             "footer footer footer";
    grid-gap: 10px;
    grid-template-columns: 16% 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}
.sidebar{
    background-color: crimson;
    grid-area: sidebar;
}
.header{
    background-color: darkgreen;
    grid-area: header;
    height: 200px;
}
.content{
    background-color: darkorange;
    grid-area: content;
}
.footer{
    background-color: deepskyblue;
    grid-area: footer;
}